<div id="topbar" class="hoc clear">
    <div class="fl_left">
      <ul class="nospace">
        <li>soubazinfo@gmail.com</li>
      </ul>
    </div>
    <div class="fl_right">
      <ul class="nospace">
        <li><%= link_to 'My Profile', user_path( current_user ) %></li>
        <li><a href="#">Contact</a></li>
        <% if user_signed_in? %>
          <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
        <% else %>
          <li><%= link_to 'Login', new_user_session_path, class: 'stop-travel' %></li>
        <% end %>
      </ul>
    </div>

  </div>
</div>
