<div class="wrapper row1">
  <header id="header" class="hoc clear">

    <div id="logo" class="fl_left">
      <h1><%= link_to 'Soul Bazaar', root_path %></h1>
      <p>you're special</p>
    </div>

    <nav id="mainav" class="fl_right">
      <ul class="clear">
        <li><%= link_to 'Home', root_path %></li>
        <li><a class="drop" href="#">Shop</a>
          <ul>
            <li><a href="http://www.victoriasecret.com" target='_blank' class='site-link-go'>Victoria's Secret</a></li>
            <li><a href="http://www.beachbunnyswimwear.com" target='_blank' class='site-link-go'>BeachBunny</a></li>
            <li><a href="http://www.zara.com/us/" target='_blank' class='site-link-go'>Zara</a></li>
            <li><a href="http://www.hm.com/us/" target='_blank' class='site-link-go'>H&M</a></li>
            <li><a href="http://www.crateandbarrel.com/" target='_blank' class='site-link-go'>Crate & Barrel</a></li>
            <li><a href="https://www.c21stores.com/" target='_blank' class='site-link-go'>Century 21</a></li>
            <li><a href="https://www.bedbathandbeyond.com/" target='_blank' class='site-link-go'>Bed, Bath & Beyond</a></li>
            <li><a href="http://www.seadreamerthelabel.com/" target='_blank' class='site-link-go'>SeaDreamer The Label</a></li>
            <li><a href="http://www.pacsun.com/" target='_blank' class='site-link-go'>PacSun</a></li>
            <li><a href="http://shop.lululemon.com/" target='_blank' class='site-link-go'>Lululemon</a></li>
            <li><a href="http://shein.com/" target='_blank' class='site-link-go'>SheInside</a></li>
            <li><a href="http://www.sunglasshut.com/" target='_blank' class='site-link-go'>Sunglass Hut</a></li>
            <li><a href="http://www.swimwearworld.com/" target='_blank' class='site-link-go'>Swimwearworld</a></li>
          </ul>
        </li>
        <li><a href="#" class='travel-link'>Travel Inquiry</a></li>
        <li><%= link_to 'View Orders', orders_path %></li>
      </ul>
    </nav>
  </header>
</div>
